@use '../../../scss/variables.scss' as v;

.chats {
  overflow: auto;
  height: 100vh;

  &.dark {
    &::-webkit-scrollbar-track {
      background: v.$dark-background;
    }
  }


  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  &::-webkit-scrollbar-thumb {
    background: v.$color-primary; 
    border-radius: 2px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}