@use '../../scss/variables.scss' as v;

.sidebar {
  flex: 1;
  box-shadow: v.$box-shadow;
  clip-path: inset(0px -15px 0px 0px);
  overflow: hidden;
  background-color: v.$background;
  
  &.dark {
    background-color: v.$dark-background;
  }

  @media screen and (max-width: 1300px) {
    flex: 1.4;
  }
}