.contextMenu {
  transform: translate(-45%);
  background-color:#474a4d;
  border-radius: 1rem;
  padding: 1rem;
  overflow: visible;
  right: -5rem;
  height: auto;
  z-index: 1000;
  width: 200px;
  height: auto;
  margin: 0;
  position: absolute;
  transition: opacity 0.5s linear;

  &__item {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .5rem;
    border: 1px solid transparent;
    color: #ff0000;
    text-decoration: none;
    transition: .2s all;
    border-radius: .5rem;
    margin-top: .5rem;
    cursor: pointer;
    
    &:hover {
      background-color:#525357;
    }
  }
}
