@use '../../scss/variables.scss' as v;

.chatPage {
  display: flex;
  height: 100vh;

  .noChat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;      
    box-shadow: v.$box-shadow;
    clip-path: inset(0px -15px 0px 0px);
    
    &.dark {
      background-color: v.$dark-secondary-background;
      box-shadow: v.$dark-box-shadow;
    }

    &__text {
      background-color: v.$color-primary;
      color: #fff;
      padding: .4rem;
      border-radius: 25px;
    }
  }
}