$color-primary: #5884F5;
$color-secondary: #a4bbf6;
$text-secondary: #00000083;
$box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
$background: #f9f9f9;
$dark-text-secondary: #ffffff97;
$dark-box-shadow: rgba(88, 132, 245, 0.18) 0px 2px 4px;
$dark-background: #18191A;
$dark-secondary-background: #101011;